{% load staticfiles %}
<script type="text/javascript">
<!--
var require = {
    baseUrl: '{{ STATIC_URL|escapejs }}',
    paths: {
        'jquery': "{% static 'js/jquery-2.1.1.min' %}",
        'bootstrap': "{% static 'bootstrap/js/bootstrap.min' %}",
        'erizo': "{% static 'js/vendor/erizo' %}",
        'base-broadcaster': "{% static 'js/base-broadcaster' %}",
        'disable-erizo-bar': "{% static 'js/disable-erizo-bar' %}"
    },
    /* Hardcoded dependencies for 3rd-party modules */
    shim: {
        'bootstrap': ['jquery']
    },
    /* Should be loaded as soon as possible */
    deps: ['jquery', 'bootstrap', 'erizo'],
    waitSeconds: 15,
    enforceDefine: false
};
//-->
</script>
<script type="text/javascript" src="{% static 'js/require.min.js' %}"></script>
