<script type="text/javascript">
<!--
var require = {
    baseUrl: '{{ STATIC_URL|escapejs }}',
    paths: {
        'jquery': 'js/jquery-2.1.1.min',
        'bootstrap': '{% static 'bootstrap/js/bootstrap.min' %}',
    },
    /* Hardcoded dependencies for 3rd-party modules */
    shim: {
        'bootstrap': ['jquery']
    },
    /* Should be loaded as soon as possible */
    deps: ['jquery', 'bootstrap'],
    waitSeconds: 15,
    enforceDefine: false
};
//-->
</script>
<script type="text/javascript" src="{% static 'js/require.min' %}"></script>
