{% extends "base.html" %}

{% load i18n staticfiles %}

{% block head %}
<script src="{% static 'js/vendor/erizo.js' %}"></script>
<script src="{% static 'js/disable-erizo-bar.js' %}"></script>
<script src="{% static 'js/base-participant.js' %}"></script>
<script src="{% static 'js/broadcaster.js' %}"></script>
{% endblock%}

{% block content %}
<h1>{% trans "Broadcaster" %}</h1>

<div class="alert alert-info" id="js-status-container" role="alert" style="display: none"></div>

<div class="panel panel-default">
    <div class="panel-heading">{% trans "Local video stream" %}</div>
    <div class="panel-body">
        <div id="js-local-video" style="width: 720px; height: 576px;"></div>
    </div>
</div>

<div id="js-settings" data-nuve-token="{{ nuve_token }}" class="hide"></div>
{% endblock %}
