{% extends "base.html" %}

{% load i18n staticfiles %}

{% block head %}
<script src="{% static 'js/participant.js' %}"></script>
{% endblock%}

{% block content %}
<h1>{% trans "Participant" %}</h1>

<div class="alert alert-info" id="js-status-container" role="alert" style="display: none"></div>

<div class="panel panel-default">
    <div class="panel-heading">{% trans "Local video stream" %}</div>
    <div class="panel-body">
        <div id="js-local-video" style="width: 640px; height: 480px;"></div>
    </div>
</div>

<button id="js-play-remote-button"
    class="btn btn-primary btn-lg"
    data-loading-text="{% trans "Waiting for remote stream..." %}"
    disabled>
    {% trans "Play live stream" %}
</button>

<div id="js-remote-video" class="hide">
</div>

<div id="js-nuve-config"
    data-token="{{ nuve_token }}"
    data-user-id="{{ request.user.username }}"
    class="hide">
</div>
{% endblock %}
