{% extends "base_broadcaster.html" %}

{% load i18n staticfiles %}

{% block subhead %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/participant.js' %}"></script>
<style>
.local-video {
    width: 640px;
    height: 480px;
}
</style>
{% endblock%}

{% block title %}
{% trans "Participant" %}
{% endblock %}

{% block controls %}
<button id="js-play-remote-button" class="btn btn-primary btn-lg">
    {% trans "Play live stream" %}
</button>

<div id="js-nuve-config"
    data-token="{{ nuve_token }}"
    data-user-id="{{ request.user.username }}"
    class="hide">
</div>

<div id="js-chat-client"></div>
{% endblock %}
