{% extends "base_broadcaster.html" %}

{% load i18n staticfiles %}

{% block subhead %}
<script src="{% static 'js/translator.js' %}"></script>
<style>
.btn:focus {
  outline: none !important;
}
.local-video {
    width: 320px;
    height: 240px;
}
</style>
{% endblock%}

{% block title %}
{% trans "Translation" %}
{% endblock %}

{% block controls %}
<button id="js-mute-button"
    class="btn btn-default btn-lg"
    data-toggle="button"
    disabled>
    {% trans "Mute" %}
</button>

<div id="js-nuve-config"
    data-token="{{ nuve_token }}"
    data-user-id="{{ request.user.username }}"
    data-language="{{ request.user.language }}"
    class="hide">
{% endblock %}
