<div class="title">Groups</div>
<div class="view">
	<div ng-repeat="group in conectedGroups" 
		 ng-class="{ 'selected': group == selectedGroup }"
         ng-click="groupClicked(group)"
         class="group">
		<img src='/static/images/connected.png' />
		{{group.name}}
	</div>
	<div ng-repeat="group in groupList | filter: isGroupDisconected" 
		 ng-class="{ 'selected': group == selectedGroup }"
		 ng-click="groupClicked(group)"
		 class="group">
		<img src='/static/images/disconnected.png' />
		{{group.name}}
	</div>
</div>
<div class="bar">
</div>
