{% load i18n staticfiles %}
<script type="text/javascript">
<!--
/*jshint curly:true, indent:4, strict:true*/
(function(config) {

    config.chat = {
        cssPath: "{% static 'css/chat.css' %}",
        baseURL: "//chat1.kbb1.com/"
    };

    config.broadcaster = {
        maxVideoBW: 2000,
        videoSize: [720, 576, 720, 576]
    };

    config.participant = {
        monitorPopupTitle: "{% trans 'Remote stream' %}",
        maxVideoBW: 1000,
        videoSize: [640, 480, 640, 480]
    };

    config.reloadOnDisconnectTimeout = 10000;

    return config;
 })(window.config = {});
//-->
</script>
