{% load i18n staticfiles %}
<script type="text/javascript">
<!--
/*jshint curly:true, indent:4, strict:true*/
(function(config) {

    config.chat = {
        cssPath: "{% static 'css/chat.css' %}",
        baseURL: "//chat1.kbb1.com/"
    };

    config.broadcaster = {
        maxVideoBW: 1000,
        videoWidth: 640,
        videoHeight: 360
    };

    config.participant = {
        janusUri: "http://146.185.60.46:8088/janus",
        playerPopupUrl: "{% url 'player' %}",
        maxVideoBW: 1000,
        videoSize: [640, 480, 640, 480]
    };

    config.reloadOnDisconnectTimeout = 10000;

    return config;
 })(window.config = {});
//-->
</script>
