#js-chat-client {
    width: 700px;
    height: 400px;
    margin:0 auto;
}

#js-chat-moderator {
    width: 100%;
    height: 600px;
    margin:0 auto;
}

/* Admin page */
.sidebar { display: none; width: 39%; float: right; }
.content { width: 100%; }
.cancelBtn { display: none; }
.info { display: none; }
#askForm #from { display: none; }
#askForm #name { display: none; }
#questionsList .fromQ { display: none; }
/* #questionsList .timeQ { display: none; } */
h3 { display: none; }

#questionsList .adminDisallow { display: none; }
#questionsList .adminRemove { display: none; }

/* Move send button to corner */
.sendBtn { position: absolute; right: 5px; top: 10px; height: 53px; }
#askForm #message { height: 25px; }
#askForm input, #askForm textarea { max-width: none; width: 84%; }

/* Animate each new question */
@keyframes questionBackgroundFadeOut {
0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

.itemQ {
animation-name: questionBackgroundFadeOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}
